body{

  text-align: center;
  background: lightgreen;
  font-family: Arial;
}

iframe{

  width: 600px;
  height: 600px;
}

p{

  background: lightblue;
  font-size: 14px;
}

p#second-para{

  background: red;
  font-size: 14px;
  color: blue;
}

.para-font-color{

  color: orange;
  color: green;
  margin-top: 35px;
}

button{

  background: yellow;
  border-radius: 15px;
}